@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body{
    background-color: rgb(5, 80, 80);
    /* background-image: url('./Images/active-woman-with-snow-white-smile-is-dancing-pink-wall-model-orange-blouse-listening-music.jpg'); */
}
*{
    margin: 0;
    padding: 0;
}
nav{
    font-family: 'Ubuntu', sans-serif;
}
nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 60px;
    width: 80px;
   margin-left: 80vh;
   gap: 10px;
    /* background-color:rgb(2, 11, 11); */
    color: white;
    position: relative;
    top: 20px;
   

}
.brand img{
    height: 50px;
    width: 30px;
    }
.brand img{
    width: 44px;
    padding: 0 8px;
}
.container{
    height: 100vh;
     background-color: black; 
    color: white;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    margin: 23px auto;
    width: 70%;
    border-radius: 12px;
    padding: 50px;
    background-image: url('./Images/pp.jpg');
    background-repeat: no-repeat;
    
  
}

.bottom{
    position: sticky;
    height: 80px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    bottom: 2px;
}
.icons{
    margin-top: 14px; 
    height: 30px;
}
.icons i{
    cursor: pointer;
}
#myProgressBar{
    width: 80vw; 
    cursor: pointer;
    

}
.songItemContainer{
    margin-top: 26px;
}
.songItem{
    height: 50px;
   display: flex;
    background-color: white;
    color: black;
    margin: 12px 0;
    justify-content:space-around;
    align-items: center;
    border-radius:20px;
}
.songItem img{
    width: 43px;
    margin: 0 23px;
    border-radius: 34px;
}
.timestamp{
    margin: 0 23px;
}

.timestamp i{
    cursor: pointer;
}
.songInfo{
    position: absolute;
    left: 10vw;
    font-family: 'Varela Round', sans-serif;
}

.songInfo img{
    opacity: 0;
    transition: opacity 0.4s ease-in;
}

@media only screen and (max-width: 1100px) {
    body {
   background-image: url("./Images/front-view-modern-young-lady-colorful-coat-orange-t-shirt-with-black-earphones-posing-listening-music-black-background-dance-modern-fashion.jpg");
    }
  }
